* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 20px;
}
.item {
	padding: 10px;
	border: 2px solid teal;
	min-width: 400px
}