* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
	padding: 20px;
}
.item {
	padding: 10px;
	border: 2px solid teal;
	min-width: 400px;
	display: flex;
	justify-content: space-between;
}
.posts {
	width: 100%;
  	padding: 20px;
}
.post {
	padding: 20px;
	border: 1px solid teal;
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
button {
	padding: 5px 15px;
	cursor: pointer;
}
.Application {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 30px;
	gap: 10px;
	width: 100%;
}